body{
    background-color: rgba(0, 0, 0, .2) !important;
    display: flex;
    justify-content: center;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    
}
.todolist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 566px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 0px ;
}

header{
    background-image: url("./images/flat-lay-notebook-with-list-desk.jpg");
    /* background-color: white; */
    background-size: 100%;
    background-repeat: no-repeat;    
    height: 200px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    width: 300px;
} 

/* header::after{
    content: '';
    display: block;
    width: 100%;
    height: 91%;
    position: absolute;
    top: 0;
    left:0 ;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: inherit;

} */
.header-text{
    margin-top: 78px;
    color: #6e6f6a;
    text-align: center;
}

